{% extends "base.html" %}

{% block content %}
<h1>Library</h1>
    <div>
        <input type="text" id="searchInput" placeholder="Search by title or author...">
        <button onclick="searchBooks()">Search</button>
    </div>
    <div>
        <h2>Add New Book</h2>
        <form id="addBookForm">
            <input type="text" id="title" placeholder="Title" required>
            <input type="text" id="author" placeholder="Author" required>
            <input type="text" id="isbn" placeholder="ISBN" required>
            <input type="number" id="number" placeholder="Number" required>
            <button type="submit">Add Book</button>
        </form>
    </div>
    <div>
        <h2>Books</h2>
        <ul id="bookList"></ul>
    </div>
    <script src="js/main.js"></script>


{% enblock %}