{% extends 'base.html' %}


{% block content %}

<div class="topp">
    <h2>Bøker</h2>
    <div class="søk-container">
        <form action="{{ url_for('filter') }}" method="get">
            <input type="text" name="streng" id="streng" placeholder="Søk etter book eller forfatter" value="{{streng}}">
            <input type="submit" value="Søk">
        </form>
        {% if streng %}
        <form action="{{ url_for('index') }}" method="get">
            <input type="submit" value="Fjern filter">
        </form>
        {% endif %}
    </div>
    <form action="{{ url_for('leggtilbook') }}" method="get">
        <input type="submit" name="leggtilbook" value="Legg til book">
    </form>
</div>

<br>

{% if error %}
<p class="error-melding">{{error}}</p>
{% endif %}

<ul class="bøker">
    {% for book in bøker %}
        <li>
            <a href="{{ url_for('book', nummer=book.nummer) }}">
                <h3>{{book.tittel}}</h3>
                <p>{{book.forfatter}}</p>
                <p>{{book.nummer}}</p>
            </a>
            <form action="{{ url_for('slettbook', nummer=book.nummer) }}" method="post">
                <input type="submit" value="Slett">
            </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}