{% extends 'base.html' %}

{% block content %}

<div class="topp">
    <h2>Bøker</h2>
    <form action="{{ url_for('filter') }}" method="get">
        <input type="text" name="streng" id="streng" placeholder="Søk etter bok eller forfatter" value="{{streng}}" required>
        <input type="submit" value="Søk">
    </form>
    <form action="{{ url_for('leggtilbook') }}" method="get">
        <input type="submit" value="Legg til book">
    </form>
</div>

<br>

<ul>
    {% for book in bøker %}
        <li>
            <h3>{{book.tittel}}</h3>
            <p>{{book.forfatter}}</p>
            <p>{{book.nummer}}</p>
            <form action="{{ url_for('slettbook', nummer=book.nummer) }}" method="post">
                <input type="submit" value="Slett">
            </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}
